@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300&family=Updock&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #242121;
    --secondary-color: #16e0bd;
}

/* typography */
h1{
    line-height: 1.1;
    font-size: 2rem;
    margin: 0;
}

strong{
    font-weight: 900;
}


body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

img{
    width: 100%;
}

.logo{
    margin-left: 8px;
    max-width: 4vw;
}

.footer,
.header {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary-color);
}

.hamburger{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 20px;
    display: none;
}

.hamburger:focus{
    outline: none;
}

.header-links{
    margin-right: 16px;
    display: flex;
    gap: 8px;
}

.header-links a{
    color: #16e0bd;
    text-decoration: none;
    font-weight: 600;
}

.header-links a:hover{
    opacity: 0.80;
}

.middle-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.intro-text{
    margin-top: 24px;
    font-weight: 300;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.intro-text h1{
    font-weight: 300;
    margin-left: 130px;
}

.section-subtitle{
    color: black;
    text-align: right;
    padding: 4px 12px;
    background-color: var(--secondary-color);
}

.intro-img{
    max-width: 185px;
    box-shadow: 5px;
    border-radius: 50%;
    position: absolute;
}



.middle-container-bkg{
    background: url('https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1447&q=80') no-repeat center center/cover;

    position: absolute;
    width: calc(100% + 0.5rem);
    height: calc(90% + 6px);
    z-index: -1;
    filter: blur(2px);
}

.footer{
    height: 3vh;
}


.social-list{
    list-style:none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-list a{
    color: #fff;
}

.social-list__link:hover{
    opacity: .7;
}

.social-list__item{
    margin: 0 .5em;
    font-size: 2rem;
}

.social-list__link{
    padding: 1em;
}

.projects-container,
.about-me{
    height: max(500px, 70%);
    width: max(1000px, 70%);
}

.projects-container h1,
.about-me h1{
    color: #fff;
    padding: 0.5rem;
}

.projects,
.section-subtitle-about{
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.842);
    padding: 1rem;
}

div[class="section-subtitle-about"] p{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.section-subtitle.etc-subtitle{
    text-align: left;
}

.about-me-social{
    display: flex;
    justify-content: space-evenly;
}

.about-me-social i{
    font-size: 2.5rem;
    padding: 0.5rem;
    color: #fff;
}

.projects-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.projects{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: scroll;
    gap: 5rem;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    color: var(--secondary-color);
    padding: 0.5rem;
    background-color: var(--primary-color);
    height: 500px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.355);
}

.project img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.project h2:hover{
    opacity: 0.80;
    cursor: pointer;
}

.project > a {
    width: 100%;
}

a button,
.project > a > button{
    background-color: var(--secondary-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem 0;
}

#more-projects:hover,
.project > a > button:hover{
    opacity: 0.8;
}


#more-projects{
    padding: 0.5rem 1rem;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: -1px -1px #fff;
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;

    top: 15px;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}

@media screen and (max-width: 767px) {
    .header-links{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .header-links.show{
        display: flex;
        text-align: center;
        z-index: 1;
    }

    .hamburger{
        display: block;
    }
}